@import '_variables';
@import '_mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    padding: 9px;
}

.body-wraper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.burger__wrapper {
    width: 100%;
    height: 55px;
    margin-bottom: 25px;
    @include center;
    position: relative;
}

.header__list {
    @include center;
    flex-direction: row;
}

.header__list li {
    list-style: none;
}

.header__list li a {
    color: $text-color1;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: $font-size11;
    line-height: 22px;
    line-height: 171%;
    margin-right: 24px;
}

.header__list li a:hover {
    color: $text-color3;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main h1, 
.images__wrapper h2 {
    font-weight: 700;
    color: $text-color1;
    font-size: 16px;
    line-height: 22px;
    line-height: 117%;
    margin-bottom: 23px;
    font-weight: bold;
    text-transform: uppercase;
}

.main figure {
    margin-bottom: 30px;
}

.main figure img {
    width: 160px;
    height: 140px;
    margin-bottom: 10px;
    cursor: pointer;
}

.main figure figcaption {
    font-weight: 700;
    color: $text-color1;
    font-size: $font-size14;
    line-height: 30px;
    line-height: 183%;
    cursor: pointer;
}

.main figure p {
    font-weight: 400;
    color:$text-color2;
    font-size: $font-size11;
    line-height: 20px;
    line-height: 155%;
    cursor: default;
}

#figure-paragraph {
    color: $text-color4;
}

.images__wrapper h3 {
    color: $text-color1;
    font-weight: 700;
    font-size: $font-size12;
    line-height: 22px;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 38px;
    color: $text-color6;
}

.footer a {
    color: $text-color6;
    font-weight: 700;
    font-size: $font-size14;
    line-height: 22px;
    line-height: 134%; 
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.footer p {
    color: $text-color5;
    font-weight: 700;
    font-size: $font-size14;
    line-height: 24px;
    line-height: 146%; 
    width: 39%;
    height: auto;
    @include center;
    margin-bottom: 25px;
    text-align: center;
}

.footer__icons {
    @include center;
    margin-bottom: 25px;
}
 
.footer__icons_imtem1 {
    margin-right: 6px;
    width: 33px;
    height: 33px;
    position: relative;
}

#inner1 {
    position: absolute;
    bottom: 33%;
    left: 37%;
}

.footer__icons_imtem2 {
    margin-right: 6px;
    width: 33px;
    height: 33px;
    position: relative;
}

#inner2 {
    position: absolute;
    bottom: 33%;
    left: 42%;
}

.footer__icons_imtem3 {
    margin-right: 6px;
    width: 33px;
    height: 33px;
    position: relative;
}

#inner3 {
    position: absolute;
    bottom: 33%;
    left: 38%;
}

.footer__icons_imtem4 {
    margin-right: 6px;
    width: 33px;
    height: 33px;
    position: relative;
}

#inner4 {
    position: absolute;
    bottom: 29%;
    left: 32%;
}

.footer__icons_imtem5 {
    margin-right: 6px;
    width: 33px;
    height: 33px;
    position: relative;
}

#inner5 {
    position: absolute;
    bottom: 29%;
    left: 37%;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 38px;
    color: $text-color6;
}

.footer a {
    color: $text-color6;
    font-weight: 700;
    font-size: $font-size14;
    line-height: 22px;
    line-height: 134%; 
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.footer p {
    color: $text-color5;
    font-weight: 700;
    font-size: $font-size12;
    line-height: 20px;
    line-height: 142%; 
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    text-align: center;
}

.footer__icons {
    @include center;
    margin-bottom: 25px;
}
 
.footer__icons_imtem1 {
    margin-right: 6px;
    width: 33px;
    height: 33px;
    position: relative;
}

#inner1 {
    position: absolute;
    bottom: 33%;
    left: 37%;
}

.footer__icons_imtem2 {
    margin-right: 6px;
    width: 33px;
    height: 33px;
    position: relative;
}

#inner2 {
    position: absolute;
    bottom: 33%;
    left: 42%;
}

.footer__icons_imtem3 {
    margin-right: 6px;
    width: 33px;
    height: 33px;
    position: relative;
}

#inner3 {
    position: absolute;
    bottom: 33%;
    left: 38%;
}

.footer__icons_imtem4 {
    margin-right: 6px;
    width: 33px;
    height: 33px;
    position: relative;
}

#inner4 {
    position: absolute;
    bottom: 29%;
    left: 32%;
}

.footer__icons_imtem5 {
    margin-right: 6px;
    width: 33px;
    height: 33px;
    position: relative;
}

#inner5 {
    position: absolute;
    bottom: 29%;
    left: 37%;
}



@media (min-width: 320px) {

    .main__figure4,
    .images__wrapperh3,
    .images__section2,
    .images__section3,
    .images__section4 {
        display: none;
    }
}

@media (max-width:768px) {

    .header__menu {
        position: absolute;
        right: -182px;
        top: 67%;
        width: 182px;
        height: 208px;
        background-color: #F5F5F5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        visibility: hidden;
    }

    .header__list {
        margin-right: 0;
        display: block;
    }

    .header__link {
        display: block;
    }

    .header__list li a {
        margin-right: 0;
        margin-bottom: 8px;
        padding-left: 10px;
    }

    .header__list li a:hover {
        background-color: #E5E5E5;
    }

    .menu__burger-btn {
        width: 44px;
        height: 37px;
        background-color: black;
        border: none;
        position: absolute;
        top:0;
        right:0;
    }

    .menu__burger-btn span {
        width: 17px;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 48%;
        right: 29%;
        transition: opacity .3s, transform .5s;
        will-change: transform;
    }

    .menu__burger-btn span:nth-child(1) {
        transform: translateY(-5px);
    }

    .menu__burger-btn span:nth-child(3) {
        transform: translateY(5px);
    }

// Cross of btn spans

    .header.open .menu__burger-btn span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }

    .header.open .menu__burger-btn span:nth-child(2) {
        opacity: 0;
    }

    .header.open .menu__burger-btn span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }
    
    .header.open .header__menu {
        transform: translateX(-100%);
        visibility: visible;
    }

    #figure-paragraph {
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    
    .menu__burger-btn {
        visibility: hidden;
    }

    .header__list {
        @include center;
        flex-direction: row;
    }
    
    .header__list li {
        list-style: none;
    }
    
    .header__list li a {
        color: $text-color1;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        font-size: $font-size11;
        line-height: 22px;
        line-height: 171%;
        margin-right: 24px;
    }
    
    .header__list li a:hover {
        color: $text-color3;
    }

     

    .main__figure1,
    .main__figure2,
    .main__figure3,
    .main__figure4 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }

    .main__figure1_wrapper,
    .main__figure2_wrapper,
    .main__figure3_wrapper,
    .main__figure4_wrapper {
        margin-left: 3%;
    }

    .images__wrapper h3 {
        text-transform: uppercase;
    }

    .images__wrapper h3,
    .images__section2,
    .images__section3  {
        display: block;
    }

    .images__section1,
    .images__section2,
    .images__section3 {
        width: 249px;
        height: 249px;
    }

    .images__wrapper {
        width: 100%;
        background-color: #F7F7F7;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 8fr;
        column-gap: 1%;
        grid-template-areas: 
        ". . ."
        "title . title2"
        "img1 img2 img3";
    }
    
    .images__section1 img,
    .images__section2 img,
    .images__section3 img {
        width: 249px;
        height: 249px;
    }

    .images__wrapper h2 {
        margin: 0;
        grid-area: title;
        
    }

    .images__wrapper h3 {
        grid-area: title2;
    }

    .images__section1 {
        width: 249px;
        height: 249px;
        grid-area: img1;
        align-items: center;
    }

    .images__section2 {
        width: 249px;
        height: 249px;
        grid-area: img2;
    }

    .images__section3 {
        width: 249px;
        height: 249px;
        grid-area: img3;
    }
}

@media (min-width: 1200px) {
    .menu__burger-btn {
        visibility: hidden;
    }

    .header__list li a {
        margin-right: 68px;
    }

    .main__figure1,
    .main__figure2,
    .main__figure3,
    .main__figure4 {
        @include center;
    }

    .main__figure1_wrapper,
    .main__figure2_wrapper,
    .main__figure3_wrapper,
    .main__figure4_wrapper {
        margin-left: 3%;
    }

    .figures__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .images__section1,
    .images__section2,
    .images__section3 {
        width: 249px;
        height: 249px;
    }

    .images__wrapper {
        width: 100%;
        background-color: #F7F7F7;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 8fr;
        column-gap: 1%;
        grid-template-areas: 
        ". . . ."
        "title . . title2"
        "img1 img2 img3 img4";
    }
    
    .images__section1 img,
    .images__section2 img,
    .images__section3 img {
        width: 285px;
        height: 285px;
    }

    .images__wrapper h2 {
        margin: 0;
        grid-area: title;
        
    }

    .images__wrapper h3 {
        grid-area: title2;
    }

    .images__section1 {
        width: 285px;
        height: 285px;
        grid-area: img1;
        align-items: center;
    }

    .images__section2 {
        width: 285px;
        height: 285px;
        grid-area: img2;
    }

    .images__section3 {
        width: 285px;
        height: 285px;
        grid-area: img3;
    }

    .images__section4 {
        display: block;
        width: 285px;
        height: 285px;
        grid-area: img4;
    }
}
